body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #f9f9f9;
  color: #333;
  background: #0FA3B1;
  
  /* background: #2a9b83;
background: linear-gradient(90deg, rgba(42, 155, 131, 0.12) 0%, rgba(87, 199, 133, 0.51) 0%, rgba(237, 221, 83, 1) 100%); */
}

header {

  background: #483f3f;
  color: white;
  padding: 0pxpx 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 15px;
}

nav ul li {
  margin: 0 15px;
}
nav ul li:hover {
  border: 2px solid white;  
  border-radius: 3px;
  transform: rotate(-2deg);
  transition:0.3s ;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 50px 100px;
  max-width: 1000px;
  margin: auto;
}

#hero {
  /* display: inline-block;*/
  margin-top: 20px;
  border-radius: 5px;
  width: 100%; 
  background: #74C4C4;
  text-align: center;
  padding: 50px, 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills li {
  background: #333;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  list-style: none;
}

footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}
.img {
  height: 250px;
  width: 250px;
  background-color: #988888;
  border-radius: 3px;
  border: 2px solid rgb(112, 129, 86);
  box-shadow: 10px 10px 40px 20px;
}
.h2-styling { 
  background-color: #916354;
  border-radius: 7px;
  display: flex;
  justify-content: left;
  
}
.hover-box{
  height: 200px;
  width: 300px;
  background-color: #D9E5D6;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px 40px 10px;
 transition: 1s ease;

}

.hover-box:hover{
   transform: scale(0.9);
  
   background-color: #EDDEA4;
   border-radius: 20px;
}
#about-me-in-text p{
  /* display: flex;
  align-items: right; */
  margin-left: 400px;
  padding: 20px;
}
